/*why did you think stuff carries over? Some properties do not inherit — for example, 
if you set a width of 50% on an element, all of its descendants do not get a width of 
50% of their parent's width. 
If this was the case, CSS would be very frustrating to use! bruh*/ 
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

html{margin: 0; height: 100%; overflow-x: hidden}

.navigation_bar {
	background-color:#ffffff;
	height: 132px;
	width: 100%;
	border: 1px solid grey;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
}

.header {
	background-color: #8adbd6;
	height: 41px;
	border: 1px solid grey;
	border-top: 0px;
	z-index: 1;
	width: 100%;
}

.header_text {
	font-size: 26px;
	font-family: rubik;
	font-weight: 400;
	font-style: normal;
	width: calc(100% - 250px);
	text-align: center;
	float: right;
	height: 41px;
	padding:7px;
	
}

/* Later change text based on size */


.koru_logo:hover {
	background-color: #ffefa6;
  }
.koru_logo {
	display:flex;
	align-items: center;
	position: fixed;
	margin: 10px;
	width: 240px;
	height:110px;
	border: 2px solid #FFCF00;
	background-color:#FFF1B4;
	z-index: 2;
	border-bottom-right-radius: 10px;
	font-size: 50px;
	font-family: niveau-grotesk;
	padding: 7px;
}
.koru_logo img {
	
	width: 95px;
	height:95px;

}

.koru_logo span {
	padding: 15px 15px 0px 15px;
	height:100%
}

.page_links {
	width: calc(100% - 250px);
	text-align: center;
	height: 91px;	
	float: right;

}

.page_links a {

margin: 12px;
float: right;
color: black;
text-align: center;
padding: 9px 16px;
text-decoration: none;
font-size: 40px;
font-family: niveau-grotesk;
border-bottom-right-radius: 10px;
border: 1px solid grey;
height: 64px;
width: 234px;


}

#current {
	border: 2px solid #FFCF00;
	background-color: #FFFAE4;
	color: #FFCF00;
}



.page_links a:hover ~ #current {color: black; 	border: 1px solid grey; background-color: white;}

.page_links a:hover{
	border: 2px solid #FFCF00;
	background-color: #FFFAE4;
	color: #FFCF00;
}

/* having the thing change when hovered doesn't carry over to menu bars left of the current one, change later"*/

.hero_image {
	position: static;
	width: 100vw;
	height: auto;
}

.hero_div {
	text-align: center;

}

.reviews {
	position: static;
	width: 100vw;
	height: auto;


}

.slogan {
	color: white;
	font-size: 80px;
	font-family: niveau-grotesk;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-weight: 700;
	z-index: 0;
}
.slogan span{
	font-size: 100px;
}


.review_div {
	justify-content: center;
	background-image: url(images/Intersection_1.png);
	height:170px;
	padding: 20px;
}

#name {
	color: black;
	font-size: 30px;
	font-family: niveau-grotesk;
	font-weight: 300;
	z-index: 1;
}

#comment{
	color: black;
	font-size: 60px;
	font-family: niveau-grotesk;
	font-weight: 500;

}

.about_website {
	background-image: url(images/ID714259822_f6a3110be9_o.png);
	height:auto;
	width: 67vw;
	float: right;
	display:flex;
	background-position: center;
	background-size: cover;
	margin: 30px;
	border-bottom-right-radius: 10px;
	justify-content: center;
	align-items: center;

}

#restaurant_image {
	position: static;
	width: 27vw;
	height: auto;
	margin: 20px 

}
#text_background_image {
	width: 45vw;
	height: 70%;
	background-image: url(images/Mask_Group_1.png);

	background-position: center;
	background-size: cover;
	border-bottom-right-radius: 10px;
	padding: 20px;
}

.entire_about {
	display: flex;
	justify-content: space-around;
	margin: 10px
}

.about_website span {
	font-family: Rubik;
	font-size: 1.5vw;
	line-height: 40px;
}
/* responsive design not adaptive design 

 img id=" src="images\Mask_Group_1.png"






.lg-view{
display:inline-block;
}

.sm-view{
display:none;
}

@media screen and (max-width: 500px) {
.lg-view{
	display:none;
}

.sm-view{
	display:inline-block;
}
}